.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__display-group
        %p test
      .chat-main__header__left-box__member-list
        %p Member:ABCD
    .chat-main__header__edit
      =link_to "#", class: "chat-main__header__edit-btn" do
        Edit

  .chat-main__messages
    = render partial: 'message', collection: @messages

  .chat-main__form
    = form_for [@group, @message], html: {class: 'chat-main__form__new-message'} do |f|
      .chat-main__form__new-message__input-box
        = f.text_field :content, class: 'chat-main__form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__new-message__input-box__image' do
          = icon('fas', 'image', class: 'icon-image')
          = f.file_field :image, class: 'icon-file'
      = f.submit 'Send', class: 'chat-main__form__new-message__submit-btn'

  -# .chat-main__form
  -#   %form.chat-main__form__new-message
  -#     .chat-main__form__new-message__input-box
  -#       %input.chat-main__form__new-message__input-box__text{placeholder: "type a message", type: "text"}
  -#       %label{class: "chat-main__form__new-message__input-box__image"}
  -#         = icon('far', 'image', class: "icon-image")
  -#         %input{type: "file", class: "icon-file"}
  -#     %input.chat-main__form__new-message__submit-btn{type: "submit", value: "Send"}