.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__display-group
        = @group.name
      .chat-main__header__left-box__member-list
        %P Member :
        .chat-main__header__left-box__member-list__menber
          - current_user.groups.each do |group|
            = @group.users.name
    .chat-main__header__edit
      =link_to "Edit", edit_group_path(@group), class: "chat-main__header__edit-btn" 
  .chat-main__messages
    = render partial: 'message', collection: @messages
  .chat-main__form
    = form_for [@group, @message], html: {class: 'chat-main__form__new-message'} do |f|
      .chat-main__form__new-message__input-box
        = f.text_field :content, class: 'chat-main__form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__new-message__input-box__image' do
          = icon('fas', 'image', class: 'icon-image')
          = f.file_field :image, class: 'icon-file'
      = f.submit 'Send', class: 'chat-main__form__new-message__submit-btn'